/* || GENERAL */

:root{
    --gen-text: 'Space Grotesk', sans-serif;
    --main-bg-color: #a9b8ba;
    --bg-accent-light: #cad9db;
    --bg-accent-green: #768a8c;
    --gradient-dark: #3d4d4f;
    --accent-01: #c24c1d;
    --accent-02: #7a3012;
    --bg-gradient: linear-gradient(to bottom, rgba(0,0,0), rgba(53, 54, 54, 0.4));
}

body {
    background-color: var(--main-bg-color);
}

.gen-text {
    font-family: var(--gen-text);
}

.card-title{
    font-size: 1.5rem;
    border: .05rem solid var(--bg-accent-light);
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 1.5rem;
}

.card-body {
    background-color: var(--bg-accent-light);
}

.coverText > h1, h2, h3 {
    font-family: var(--gen-text);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 4rem;
    font-weight: 900;
} */

.coverText p {
    font-size: 1.5rem;
    width: 60%;
    margin: auto;
    border: .05rem solid var(--bg-accent-light);
}


/* || MODERATORS */


.modCover {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0), rgba(53, 54, 54, 0.4));

}

.row {
    margin: auto;
}

.modCover.row {
    margin: auto;
}
.modCover img {
    min-width: 30rem;
    opacity: .4;
}

.coverText {
    color: black;
    position: absolute;
    top: 200px;
    z-index: 1300;
}


.modCards {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    padding-top: 8%;
    margin: auto;
}

.modCards.flex-row {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    flex-grow: 1;
    background-color: var(--main-bg-color);
    padding: 4rem;
}

section {
    width: 95%;
    margin: auto;
}

section .gen-text {
    background-color: var(--bg-accent-light);
    position: relative;
    top: 7vmin;
    left: 3vmin;
    text-align: center;
    padding: 4rem;
    margin-bottom: 7rem;
    box-shadow: 0px 25px 42px rgba(0,0,0, 0.2);
    height: fit-content;

}

#graphiteAccordion button {
    font-family: var(--gen-text);
    color: var(--accent-02);
}

.modImage {
    min-width: 600px;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 0px 25px 42px rgba(0,0,0, 0.4);
}

section  h3 {
    position: relative;
    text-transform: uppercase;
    padding: 8%;
    margin-top: 20px;
    border: 8px solid;
    border-color: #7a301260;
}

section .card {
    width: ;
}
