/* || GENERAL */

:root{
    --main-bg-color: #a9b8ba;
    --bg-accent-light: #cad9db;
    --bg-accent-dark: #768a8c;
    --gradient-01: #3d4d4f;
    --accent-01: #c24c1d;
    --accent-02: #7a3012;



}


/* || MODERATORS */


.modCover {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0), rgba(53, 54, 54, 0.4))

}
.modCover img {
    min-width: 30rem;
    opacity: .4;
}

.coverText {
    color: black;
    position: absolute;
    top: 200px;
    z-index: 1300;
}


.modCards {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--bg-accent-dark);
}

.card {
    flex-grow: 1;
}

.modImage {
    padding: 0px;
}
